/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* background scheme */

sea-green {
  background: #729494;
  background: #4D7A7A;
  background: #336666;
  background: #205353;
  background: #0F4040;
}
deep-blues {
  background: #838ea5;
  background: #5C6989;
  background: #3f4f73;
  background: #29395b;
  background: #17264a;
  background: #060e23;
}
orange {
  background: #F7D8BE;
  background: #CCA381;
  background: #AA7C55;
  background: #8A5B35;
  background: #6B3E19;
}
accent {
  background: #663333;
  background: #663351;
  background: #653366;
  background: #522929;
  background: #522941;
  background: #656633;  
  background: #91dada;
}
fonts {
  color: #e8e6e3; /* off-white */
  color: #c8c3bc;  /* grey */
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background: #3F4E72;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}
body > header {
  display: flex;
  background: #0F4040;
  height: 75px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.body__header h1 {
  color: #e8e6e3;
  font-size: 2rem;
}
.body__header button {
  background: #3f4f73;
  color: #e8e6e3;
  padding: 7px;
  border: 2px solid #060e23;
  border-radius: 5px;
  width: 150px;
}
.container {
  display: grid;
  grid-template-columns: minmax(180px, 220px) 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: calc(100% - 75px);
}
nav {
  background: #205353;
  color: #c8c3bc;
  grid-column: 1;
  padding: 20px;
}
nav .calendar li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
nav span {
  margin-left: auto;
  font-size: 0.9rem;
}
.calendar li:last-of-type {
  margin: 25px 0 0;
}
.uncategorised {  
  border-top: 1px solid #c8c3bc;
  margin: 15px 0 0;
  padding-top: 15px;
}
.uncategorised > section {  
  display: flex;
  gap: 10px;
  align-items: center;
}
.projects {
  border-top: 1px solid #c8c3bc;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 0;
  padding-top: 15px;
}
.project-list > li section,
.tasks-list > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.tasks-list > li {
  margin-left: 20px;
}
.tasks-list > li.completed p {
  text-decoration: line-through;
}
.tasks-list > li.priority p {
  color: #D64832;
}

.uncategorised > section:hover, 
.calendar > li:hover,
.project-list > li > section:hover {
  color: white;
}

main {
  background: #4D7A7A;
  color: #e8e6e3;
  grid-column: 2;
  padding: 20px;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid #e8e6e3;
  padding-bottom: 10px;
}
.main__title, .add-task-button p {
  font-size: 1.2rem;
  font-weight: 400;
}
.add-task-button {
  display: flex;
  align-items: center;
  height: 50px;
  background: #3f4f73;
  color: #e8e6e3;
  padding: 0;
  border: 3px solid #060e23;
  border-radius: 5px;
}
.add-task-button img {
  padding-left: 10px;
}
.add-task-button p {
  padding: 10px;
}
.add-task-button:active {
  transform: translateY(2px);
}
.add-task-button:hover {
  background: #729494;
  border-radius: 5px;
}

/* Form */

.add-task-section {
  display: block;
  width: 300px;
  padding: 20px 20px 15px 15px;
  position: absolute;
  top: 20%;
  left: 40%;
  background: #CBA280;
  color: black;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.5);
  z-index: 100;
  visibility: hidden;
}
.add-task-section.popup {
  visibility: visible;
}
#blockDiv {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.add-task-section form {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
}
.add-task-section div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.add-task-section .cancel {
  background: #333d3d;
  color: antiquewhite;
  width: fit-content;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  margin-right: 10px;
}
.add-task-section .cancel:hover {
  background: #546464;
}
.add-task-section .submit {
  background: #001718;
  color: antiquewhite;
  width: fit-content;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  align-self: flex-end;
}
.add-task-section .submit:hover {
  background: #123638;
}
.add-task-section input,
.add-task-section textarea {
  max-width: 240px;
  display: block;
  padding: 8px;
  margin: 7px 0 15px auto;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.add-task-section input[type="text"] {
  width: 240px;
}
.add-task-section section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 15px;
}
.add-task-section section p {
  flex: 0 0 100%;
  font-weight: 400;
}
.add-task-section section label {
  margin: 7px 0 15px;
}
.add-task-section section input {
  display: inline-block;
  margin: 0;
}



/* Container layout */

.main__container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 8px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background: #a5b3cf;
  width: 100%;
  padding: 10px;
  border: 2px solid #29395C;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.card h3 {
  color: #060e23;
  font-size: 1.2rem;
  font-weight: 700;
}
.card p {
  color: #060e23;
  line-height: 1.4;
}
.card .card__project {
  color: #8A5B35;
  padding: 0 2px;
}
.card .card__project:hover {
  background: #ccd7f0;
  border-radius: 4px;
}
.card .card__dueDate {
  color: #0F4040;
}
.card__header {
  display: flex;
  justify-content: space-between;
}
.card__header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.card footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.card__completed:active, .card__priority:active, 
.card__edit:active, .card__delete:active {
  transform: translateY(2px);
}
.card__completed:hover, .card__priority:hover, 
.card__edit:hover {
  background: #ccd7f0;
  border-radius: 4px;
}
.card__delete:hover {
  background: #EF6669;  
  background: rgb(232, 17, 35);
  border-radius: 2px;
}
.card.isDone {
  opacity: 0.7;
}
.card.isDone h3{
  text-decoration: line-through 2px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 520px) {
  nav {
    display: none;
  }
  main {
    width: 100%;
  }
  
}